*{
    padding: 0px;
    margin: 0px;
}

h1 {
    color: rgba(255, 255, 255, 0.842);
    border: double rgb(115, 115, 115) 2px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
    
body{
    background-color: grey;
}
nav{
    padding: 5px;
    background-color: rgb(33, 33, 33);
    col
}
.font{
    font-size: 25px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;

}

h2 {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
}
h3{
    margin-top: 25px;
    margin-bottom: 25px;
}
a{
    color:black;
    font-size: 25px;
}
.color{
    color: black;
    text-decoration: none;
}
